<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>controller.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsController</servlet-name>
        <servlet-class>controller.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsDetailController</servlet-name>
        <servlet-class>controller.NewsDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signInController</servlet-name>
        <servlet-class>controller.signInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpController</servlet-name>
        <servlet-class>controller.signUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sighOutController</servlet-name>
        <servlet-class>controller.signOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDetailController</servlet-name>
        <servlet-class>controller.userDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyController</servlet-name>
        <servlet-class>controller.verifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPasswordController</servlet-name>
        <servlet-class>controller.forgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categorController</servlet-name>
        <servlet-class>controller.categoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopController</servlet-name>
        <servlet-class>controller.shopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singleProductController</servlet-name>
        <servlet-class>controller.singleProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>controller.changePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGGController</servlet-name>
        <servlet-class>controller.loginGGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayController</servlet-name>
        <servlet-class>controller.vnpayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serviceController</servlet-name>
        <servlet-class>controller.serviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productViewIncrementController</servlet-name>
        <servlet-class>controller.productViewIncrementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmailController</servlet-name>
        <servlet-class>controller.sendEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>policyController</servlet-name>
        <servlet-class>controller.policyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsDetailController</servlet-name>
        <url-pattern>/newsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signInController</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpController</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sighOutController</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDetailController</servlet-name>
        <url-pattern>/userDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPasswordController</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categorController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singleProductController</servlet-name>
        <url-pattern>/singleProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGGController</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayController</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serviceController</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productViewIncrementController</servlet-name>
        <url-pattern>/productView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailController</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>policyController</servlet-name>
        <url-pattern>/policy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>50</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
